.comments{
  margin-bottom: 100px;
  .comments-text{
    display: block;
    width: 600px;
    height: 100px;
    position: inherit;
    margin: 0 auto 70px auto;

    h2{
      position: inherit;
      font-size: 27px;
      font-family: GothaProBold;
      text-align: center;
      text-transform: uppercase;
    }
    p{
      text-align: center;
      font-family: GothaPro;
      font-size: 15px;
    }
}
  .comments-rectangle{
    display: block;
    position: inherit;
    @include sprite($violet-rectangle);
    margin-top: 11px;
    margin-left: 47%;
  }
}

.comments-block{
  height: 320px;
  width: 100%;
}
.comments-block:first-of-type{
  margin-left: 3%;
}
.comments-block-1{
  height: 320px;
  width: 100%;
  display:none;
}
.comments-block-1:first-of-type{
  margin-left: 3%;
}
.show-more-button-hide{
  display: none;
}
.show-more-button svg polygon{
  fill: mediumvioletred;
}
.show-more-button svg{
  width: 25px;

}
.comments-content-block{
  position: relative;
  height: 300px;
  width: 281px;
  margin-left: 83px;
  float: left;
}
.comments-content-block-1{
  position: relative;
  height: 300px;
  width: 31%;
  margin-left: 2%;
  float: left;
}
.qoutes-image{
 @include sprite($qoutes-white);
}
.video-image{
  @include sprite($video-icon);
  margin-bottom: 5px;
}
.comment-text{
  width: 310px;
  font-family: GothaPro;
  font-size: 17px;
}
.commentator-portrait{
  @include sprite($fedorov);
  border-radius: 50%;
  background-repeat: no-repeat;
  margin-top: 25px;
}
.comments-footer{
  display: block;
  position: absolute;
  width: 220px;
  margin-left: -40px;
  top: 82%;
  font-family: GothaPro;
  font-size: 17px;
}

.commentator-name{
  font-family: GothaPro;
  margin-top: 20px;
  font-size: 17px;
}


.position-ul li{
  position: relative;
  display: inline;
  float: left;
  margin-right: 10px;
}
.position-ul:last-child {
  list-style: square outside;
}
.comments-content-block:hover{
  .qoutes-image{
    @include sprite($qoutes-pink);
  }
  .commentator-name{
    color: mediumvioletred;
  }
}
/*.comments-video{
  @include sprite($comment-video);
}*/

/*.show-more-button{
  @include sprite($load-more);
}*/
.load-more-icon{
  width: 23px;
  height: 23px;
  margin-right: 20px;
  position: inherit;
  margin-top: 10px;
  float: left;
  fill: mediumvioletred;
}
.show-more-button{
  width: 180px;
  height: 40px;
  border: none;
  background-color: transparent;
  margin-left: 43%;
}
.show-more-button div{
  display: inline-block;
  height: 40px;
}
.load-more-txt{
  line-height:40px;
  text-align: center;
  font-family:  GothaProBlack;
  opacity: 0.8;
  font-size: 13px;
}

@import "comments-adaptive";