@media (max-width: 960px)  {
  .comments-block{
    height: 975px;
  }
  .comments-content-block{
    width: 50%;
    margin-left: 35%;
    margin-top: 20px;
    border-bottom: solid mediumvioletred 1px;
  }
}