@font-face {
  font-family: GothaProMed;
  src: url(../fonts/GothaProMed.otf);
}
@font-face {
  font-family: GothaProBold;
  src: url(../fonts/GothaProBol.otf);
}
@font-face {
  font-family: GothaPro;
  src: url(../fonts/GothaProReg.otf);
}
@font-face {
  font-family: GothaProBlack;
  src: url(../fonts/GothaProBla.otf);
}

