@media (max-width: 1050px)  {
  .adress-div{
    margin-left: 35%;
  }

}
@media (max-width: 1010px)  {
  footer{
    margin-top: -150px;
  }
  .pravo-agency {
    margin-left: 46%;
  }
  .adress-div{
    margin-left: 32%;
  }
  .facebook {
    margin-left: 42%;
  }
}
@media (max-width: 880px)  {
  .adress-div{
    margin-left: 30%;
  }
}
@media (max-width: 750px)  {
  .adress-div{
    margin-left: 28%;
  }
}
@media (max-width: 630px)  {
  .adress-div{
    margin-left: 24%;
  }
}
@media (max-width: 530px)  {
  .adress-div{
    margin-left: 20%;
  }
}