/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$bow-name: 'bow';
$bow-x: 0px;
$bow-y: 90px;
$bow-offset-x: 0px;
$bow-offset-y: -90px;
$bow-width: 42px;
$bow-height: 42px;
$bow-total-width: 203px;
$bow-total-height: 145px;
$bow-image: '../scss/sprite.png';
$bow: (0px, 90px, 0px, -90px, 42px, 42px, 203px, 145px, '../scss/sprite.png', 'bow', );
$comments-portrait-name: 'comments-portrait';
$comments-portrait-x: 149px;
$comments-portrait-y: 0px;
$comments-portrait-offset-x: -149px;
$comments-portrait-offset-y: 0px;
$comments-portrait-width: 54px;
$comments-portrait-height: 67px;
$comments-portrait-total-width: 203px;
$comments-portrait-total-height: 145px;
$comments-portrait-image: '../scss/sprite.png';
$comments-portrait: (149px, 0px, -149px, 0px, 54px, 67px, 203px, 145px, '../scss/sprite.png', 'comments-portrait', );
$court-name: 'court';
$court-x: 42px;
$court-y: 90px;
$court-offset-x: -42px;
$court-offset-y: -90px;
$court-width: 42px;
$court-height: 42px;
$court-total-width: 203px;
$court-total-height: 145px;
$court-image: '../scss/sprite.png';
$court: (42px, 90px, -42px, -90px, 42px, 42px, 203px, 145px, '../scss/sprite.png', 'court', );
$fb-hover-name: 'fb-hover';
$fb-hover-x: 196px;
$fb-hover-y: 105px;
$fb-hover-offset-x: -196px;
$fb-hover-offset-y: -105px;
$fb-hover-width: 5px;
$fb-hover-height: 12px;
$fb-hover-total-width: 203px;
$fb-hover-total-height: 145px;
$fb-hover-image: '../scss/sprite.png';
$fb-hover: (196px, 105px, -196px, -105px, 5px, 12px, 203px, 145px, '../scss/sprite.png', 'fb-hover', );
$fb-white-name: 'fb-white';
$fb-white-x: 12px;
$fb-white-y: 132px;
$fb-white-offset-x: -12px;
$fb-white-offset-y: -132px;
$fb-white-width: 5px;
$fb-white-height: 12px;
$fb-white-total-width: 203px;
$fb-white-total-height: 145px;
$fb-white-image: '../scss/sprite.png';
$fb-white: (12px, 132px, -12px, -132px, 5px, 12px, 203px, 145px, '../scss/sprite.png', 'fb-white', );
$fedorov-name: 'fedorov';
$fedorov-x: 90px;
$fedorov-y: 0px;
$fedorov-offset-x: -90px;
$fedorov-offset-y: 0px;
$fedorov-width: 59px;
$fedorov-height: 64px;
$fedorov-total-width: 203px;
$fedorov-total-height: 145px;
$fedorov-image: '../scss/sprite.png';
$fedorov: (90px, 0px, -90px, 0px, 59px, 64px, 203px, 145px, '../scss/sprite.png', 'fedorov', );
$li-hover-name: 'li-hover';
$li-hover-x: 184px;
$li-hover-y: 105px;
$li-hover-offset-x: -184px;
$li-hover-offset-y: -105px;
$li-hover-width: 12px;
$li-hover-height: 13px;
$li-hover-total-width: 203px;
$li-hover-total-height: 145px;
$li-hover-image: '../scss/sprite.png';
$li-hover: (184px, 105px, -184px, -105px, 12px, 13px, 203px, 145px, '../scss/sprite.png', 'li-hover', );
$li-name: 'li';
$li-x: 0px;
$li-y: 132px;
$li-offset-x: 0px;
$li-offset-y: -132px;
$li-width: 12px;
$li-height: 13px;
$li-total-width: 203px;
$li-total-height: 145px;
$li-image: '../scss/sprite.png';
$li: (0px, 132px, 0px, -132px, 12px, 13px, 203px, 145px, '../scss/sprite.png', 'li', );
$load-more-name: 'load-more';
$load-more-x: 171px;
$load-more-y: 67px;
$load-more-offset-x: -171px;
$load-more-offset-y: -67px;
$load-more-width: 23px;
$load-more-height: 20px;
$load-more-total-width: 203px;
$load-more-total-height: 145px;
$load-more-image: '../scss/sprite.png';
$load-more: (171px, 67px, -171px, -67px, 23px, 20px, 203px, 145px, '../scss/sprite.png', 'load-more', );
$notepad-name: 'notepad';
$notepad-x: 84px;
$notepad-y: 90px;
$notepad-offset-x: -84px;
$notepad-offset-y: -90px;
$notepad-width: 40px;
$notepad-height: 41px;
$notepad-total-width: 203px;
$notepad-total-height: 145px;
$notepad-image: '../scss/sprite.png';
$notepad: (84px, 90px, -84px, -90px, 40px, 41px, 203px, 145px, '../scss/sprite.png', 'notepad', );
$notepad2-name: 'notepad2';
$notepad2-x: 124px;
$notepad2-y: 90px;
$notepad2-offset-x: -124px;
$notepad2-offset-y: -90px;
$notepad2-width: 40px;
$notepad2-height: 39px;
$notepad2-total-width: 203px;
$notepad2-total-height: 145px;
$notepad2-image: '../scss/sprite.png';
$notepad2: (124px, 90px, -124px, -90px, 40px, 39px, 203px, 145px, '../scss/sprite.png', 'notepad2', );
$pink-radio-dot-name: 'pink-radio-dot';
$pink-radio-dot-x: 194px;
$pink-radio-dot-y: 75px;
$pink-radio-dot-offset-x: -194px;
$pink-radio-dot-offset-y: -75px;
$pink-radio-dot-width: 8px;
$pink-radio-dot-height: 8px;
$pink-radio-dot-total-width: 203px;
$pink-radio-dot-total-height: 145px;
$pink-radio-dot-image: '../scss/sprite.png';
$pink-radio-dot: (194px, 75px, -194px, -75px, 8px, 8px, 203px, 145px, '../scss/sprite.png', 'pink-radio-dot', );
$qoutes-pink-name: 'qoutes-pink';
$qoutes-pink-x: 164px;
$qoutes-pink-y: 105px;
$qoutes-pink-offset-x: -164px;
$qoutes-pink-offset-y: -105px;
$qoutes-pink-width: 20px;
$qoutes-pink-height: 15px;
$qoutes-pink-total-width: 203px;
$qoutes-pink-total-height: 145px;
$qoutes-pink-image: '../scss/sprite.png';
$qoutes-pink: (164px, 105px, -164px, -105px, 20px, 15px, 203px, 145px, '../scss/sprite.png', 'qoutes-pink', );
$qoutes-white-name: 'qoutes-white';
$qoutes-white-x: 164px;
$qoutes-white-y: 90px;
$qoutes-white-offset-x: -164px;
$qoutes-white-offset-y: -90px;
$qoutes-white-width: 20px;
$qoutes-white-height: 15px;
$qoutes-white-total-width: 203px;
$qoutes-white-total-height: 145px;
$qoutes-white-image: '../scss/sprite.png';
$qoutes-white: (164px, 90px, -164px, -90px, 20px, 15px, 203px, 145px, '../scss/sprite.png', 'qoutes-white', );
$radio-dot-name: 'radio-dot';
$radio-dot-x: 194px;
$radio-dot-y: 67px;
$radio-dot-offset-x: -194px;
$radio-dot-offset-y: -67px;
$radio-dot-width: 8px;
$radio-dot-height: 8px;
$radio-dot-total-width: 203px;
$radio-dot-total-height: 145px;
$radio-dot-image: '../scss/sprite.png';
$radio-dot: (194px, 67px, -194px, -67px, 8px, 8px, 203px, 145px, '../scss/sprite.png', 'radio-dot', );
$request-icon-name: 'request-icon';
$request-icon-x: 149px;
$request-icon-y: 67px;
$request-icon-offset-x: -149px;
$request-icon-offset-y: -67px;
$request-icon-width: 22px;
$request-icon-height: 22px;
$request-icon-total-width: 203px;
$request-icon-total-height: 145px;
$request-icon-image: '../scss/sprite.png';
$request-icon: (149px, 67px, -149px, -67px, 22px, 22px, 203px, 145px, '../scss/sprite.png', 'request-icon', );
$sprite-ru-button-circle-name: 'sprite-ru-button-circle';
$sprite-ru-button-circle-x: 115px;
$sprite-ru-button-circle-y: 64px;
$sprite-ru-button-circle-offset-x: -115px;
$sprite-ru-button-circle-offset-y: -64px;
$sprite-ru-button-circle-width: 18px;
$sprite-ru-button-circle-height: 18px;
$sprite-ru-button-circle-total-width: 203px;
$sprite-ru-button-circle-total-height: 145px;
$sprite-ru-button-circle-image: '../scss/sprite.png';
$sprite-ru-button-circle: (115px, 64px, -115px, -64px, 18px, 18px, 203px, 145px, '../scss/sprite.png', 'sprite-ru-button-circle', );
$tw-hover-name: 'tw-hover';
$tw-hover-x: 133px;
$tw-hover-y: 64px;
$tw-hover-offset-x: -133px;
$tw-hover-offset-y: -64px;
$tw-hover-width: 15px;
$tw-hover-height: 11px;
$tw-hover-total-width: 203px;
$tw-hover-total-height: 145px;
$tw-hover-image: '../scss/sprite.png';
$tw-hover: (133px, 64px, -133px, -64px, 15px, 11px, 203px, 145px, '../scss/sprite.png', 'tw-hover', );
$tw-name: 'tw';
$tw-x: 184px;
$tw-y: 90px;
$tw-offset-x: -184px;
$tw-offset-y: -90px;
$tw-width: 15px;
$tw-height: 11px;
$tw-total-width: 203px;
$tw-total-height: 145px;
$tw-image: '../scss/sprite.png';
$tw: (184px, 90px, -184px, -90px, 15px, 11px, 203px, 145px, '../scss/sprite.png', 'tw', );
$video-icon-name: 'video-icon';
$video-icon-x: 90px;
$video-icon-y: 64px;
$video-icon-offset-x: -90px;
$video-icon-offset-y: -64px;
$video-icon-width: 25px;
$video-icon-height: 25px;
$video-icon-total-width: 203px;
$video-icon-total-height: 145px;
$video-icon-image: '../scss/sprite.png';
$video-icon: (90px, 64px, -90px, -64px, 25px, 25px, 203px, 145px, '../scss/sprite.png', 'video-icon', );
$violet-rectangle-name: 'violet-rectangle';
$violet-rectangle-x: 124px;
$violet-rectangle-y: 129px;
$violet-rectangle-offset-x: -124px;
$violet-rectangle-offset-y: -129px;
$violet-rectangle-width: 40px;
$violet-rectangle-height: 2px;
$violet-rectangle-total-width: 203px;
$violet-rectangle-total-height: 145px;
$violet-rectangle-image: '../scss/sprite.png';
$violet-rectangle: (124px, 129px, -124px, -129px, 40px, 2px, 203px, 145px, '../scss/sprite.png', 'violet-rectangle', );
$white-circle-name: 'white-circle';
$white-circle-x: 0px;
$white-circle-y: 0px;
$white-circle-offset-x: 0px;
$white-circle-offset-y: 0px;
$white-circle-width: 90px;
$white-circle-height: 90px;
$white-circle-total-width: 203px;
$white-circle-total-height: 145px;
$white-circle-image: '../scss/sprite.png';
$white-circle: (0px, 0px, 0px, 0px, 90px, 90px, 203px, 145px, '../scss/sprite.png', 'white-circle', );
$spritesheet-width: 203px;
$spritesheet-height: 145px;
$spritesheet-image: '../scss/sprite.png';
$spritesheet-sprites: ($bow, $comments-portrait, $court, $fb-hover, $fb-white, $fedorov, $li-hover, $li, $load-more, $notepad, $notepad2, $pink-radio-dot, $qoutes-pink, $qoutes-white, $radio-dot, $request-icon, $sprite-ru-button-circle, $tw-hover, $tw, $video-icon, $violet-rectangle, $white-circle, );
$spritesheet: (203px, 145px, '../scss/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
