/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.header {
  position: relative;
  width: 100%;
  height: 670px;
  margin: 0 auto 0 auto;
  overflow: hidden;
  margin-bottom: 50px; }

.header-background {
  width: 100%;
  height: 670px; }

.header-logo {
  position: absolute;
  top: 51px;
  left: 181px; }

.navigation {
  position: absolute;
  top: 52px;
  right: 80px;
  width: 500px;
  height: 40px;
  font-family: GothaProMed;
  font-size: 11.75px;
  text-transform: uppercase; }
  .navigation a {
    position: relative;
    padding-right: 28px;
    text-decoration: none;
    color: black; }
  .navigation a:hover {
    color: #d188ae; }
  .navigation-button {
    margin-left: 87px;
    display: inline-block;
    line-height: 32px;
    height: 32px;
    width: 39px;
    background-color: transparent;
    border: #dfdfe2 solid 2px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px; }
    .navigation-button-circle {
      background-image: url(../img/icons/sprite/sprite-ru-button-circle.png);
      width: 18px;
      height: 18px;
      float: left;
      position: relative;
      top: 25%;
      left: 10%; }
    .navigation-button-text {
      position: relative;
      top: 8%;
      left: 40%; }

/*navigation*/
.header-text-block {
  height: 450px;
  width: 450px;
  position: absolute;
  top: 156px;
  left: 178px;
  z-index: 3; }
  .header-text-block h1 {
    position: inherit;
    font-family: GothaProBold;
    font-size: 29.75px;
    width: 307px; }
  .header-text-block-rectangle {
    display: block;
    position: inherit;
    background-image: url(../scss/sprite.png);
    background-position: -124px -129px;
    width: 40px;
    height: 2px;
    margin-top: 11px; }
  .header-text-block-mainText {
    position: inherit;
    overflow: hidden;
    display: block;
    margin-top: 23px;
    width: 450px;
    height: 175px;
    line-height: 24px;
    font-family: GothaPro;
    font-size: 15px; }
  .header-text-block-button {
    position: inherit;
    display: inline-block;
    width: 180px;
    height: 52px;
    line-height: 52px;
    margin-top: 250px;
    border: #dfdfe2 solid 2px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    background-color: #a70c5d; }
    .header-text-block-button-circle {
      background-image: url(../img/vectors/header-button-arrow.png);
      background-repeat: no-repeat;
      width: 25px;
      height: 25px;
      position: inherit;
      margin-left: 17px;
      margin-top: 14px; }
    .header-text-block-button-text {
      position: inherit;
      margin-left: 54px;
      font-family: GothaProBlack;
      font-size: 13px;
      text-decoration: none;
      color: #f9eff4; }
  .header-text-block-button:hover {
    background-color: darkmagenta; }

/*.header-text-block*/
.header-play-button {
  position: absolute;
  top: 285px;
  left: 635px;
  height: 90px;
  width: 90px;
  z-index: 2; }
  .header-play-button-circle {
    position: relative;
    background-image: url(../scss/sprite.png);
    background-position: 0px 0px;
    width: 90px;
    height: 90px; }
    .header-play-button-circle-triangle {
      background-image: url(../img/vectors/Play.png);
      background-repeat: no-repeat;
      width: 17px;
      height: 20px;
      position: relative;
      top: 41%;
      left: 44%; }

.header-man {
  position: absolute;
  background-image: url("../img/photo/man.jpg");
  background-repeat: no-repeat;
  width: 413px;
  height: 565px;
  top: 105px;
  right: 6%;
  z-index: 1; }

@media (min-width: 1335px) {
  .header-man {
    right: 11%; }
  .navigation {
    right: 4%; } }

@media (max-width: 1150px) and (min-width: 700px) {
  .header-logo {
    left: 150px; }
  .header-text-block {
    left: 150px; }
  #man {
    background-size: 80%;
    top: 219px;
    left: 68%; } }

@media (max-width: 860px) {
  .header {
    margin-right: 10%;
    width: 80%; }
    .header .header-logo {
      position: absolute;
      top: 30px;
      left: 42%; }
    .header-text-block-rectangle {
      margin-left: 45%; }
    .header #man {
      top: 219px; }
    .header .navigation {
      left: 15%;
      width: 420px;
      top: 15%;
      /*position: relative;
      top: 120px;
      left: 50%;
     ;*/ }
      .header .navigation a {
        font-size: 12px; }
      .header .navigation-button {
        margin-left: 0; }
    .header #header-mainText p {
      font-size: 15px;
      position: relative;
      text-align: center; }
    .header .header-text-block {
      background-color: #888888;
      opacity: 0.9;
      left: 15%;
      font-weight: bold; }
      .header .header-text-block h1 {
        position: relative;
        font-size: 22px;
        text-align: center;
        padding-left: 17%; }
      .header .header-text-block .header-text-block-button {
        margin-left: 28%; }
  /*.header*/ }

main {
  width: 100%;
  position: relative;
  margin-bottom: 50px; }

.prices-text {
  display: block;
  width: 600px;
  height: 100px;
  position: inherit;
  margin: 0 auto 70px auto; }
  .prices-text h2 {
    position: inherit;
    font-size: 27px;
    font-family: GothaProBold;
    text-align: center;
    text-transform: uppercase; }
  .prices-text p {
    text-align: center;
    font-family: GothaPro;
    font-size: 15px; }

/*prices-text*/
.main-rectangle {
  display: block;
  position: inherit;
  background-image: url(../scss/sprite.png);
  background-position: -124px -129px;
  width: 40px;
  height: 2px;
  margin-top: 11px;
  margin-left: 47%; }

.services {
  width: 85%;
  height: 540px;
  padding-top: 45px;
  padding-left: 10%;
  padding-right: 5%;
  /*padding: 45px 60px 55px 150px;*/ }

.first-block {
  position: relative;
  width: 45%;
  float: left;
  margin-bottom: 20px;
  padding-right: 5%; }

.second-block {
  position: relative;
  width: 45%;
  float: right;
  padding-right: 5%; }

.block-header {
  position: inherit;
  display: inline-block;
  line-height: 35px;
  width: 445px;
  height: 35px; }

.first-image {
  position: inherit;
  background-image: url(../scss/sprite.png);
  background-position: -84px -90px;
  width: 40px;
  height: 41px;
  float: left; }

.block-text {
  float: left;
  position: inherit;
  font-family: GothaProBold;
  font-size: 15px;
  text-transform: uppercase;
  padding-left: 30px;
  width: 180px;
  line-height: 22px; }

.block-list {
  width: 340px;
  list-style-image: url("../img/icons/list-icon.png");
  font-family: GothaPro;
  font-size: 15px;
  line-height: 23px; }

.block-text-list {
  font-size: 16px;
  font-family: GothaPro; }

.info-ico {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: violet solid 2px;
  float: right;
  position: relative; }

.info-ico:hover {
  background-color: violet;
  z-index: 2; }

.info-ico-href {
  position: inherit;
  padding-left: 12px;
  line-height: 20px;
  width: 15px;
  height: 25px;
  text-decoration: none;
  z-index: 3; }

.info-ico-href:hover {
  background-color: violet; }

@media (max-width: 1085px) {
  .first-block .block-header,
  .second-block .block-header {
    width: 350px; } }

@media (max-width: 865px) {
  .services {
    height: 1080px;
    padding-left: 19%; }
  .first-block {
    width: 80%;
    padding-left: 10%; }
  .second-block {
    width: 80%;
    float: none;
    padding-left: 10%; }
  .prices-text p {
    width: 500px;
    padding-left: 10%; } }

.comments {
  margin-bottom: 100px; }
  .comments .comments-text {
    display: block;
    width: 600px;
    height: 100px;
    position: inherit;
    margin: 0 auto 70px auto; }
    .comments .comments-text h2 {
      position: inherit;
      font-size: 27px;
      font-family: GothaProBold;
      text-align: center;
      text-transform: uppercase; }
    .comments .comments-text p {
      text-align: center;
      font-family: GothaPro;
      font-size: 15px; }
  .comments .comments-rectangle {
    display: block;
    position: inherit;
    background-image: url(../scss/sprite.png);
    background-position: -124px -129px;
    width: 40px;
    height: 2px;
    margin-top: 11px;
    margin-left: 47%; }

.comments-block {
  height: 320px;
  width: 100%; }

.comments-block:first-of-type {
  margin-left: 3%; }

.comments-block-1 {
  height: 320px;
  width: 100%;
  display: none; }

.comments-block-1:first-of-type {
  margin-left: 3%; }

.show-more-button-hide {
  display: none; }

.show-more-button svg polygon {
  fill: mediumvioletred; }

.show-more-button svg {
  width: 25px; }

.comments-content-block {
  position: relative;
  height: 300px;
  width: 281px;
  margin-left: 83px;
  float: left; }

.comments-content-block-1 {
  position: relative;
  height: 300px;
  width: 31%;
  margin-left: 2%;
  float: left; }

.qoutes-image {
  background-image: url(../scss/sprite.png);
  background-position: -164px -90px;
  width: 20px;
  height: 15px; }

.video-image {
  background-image: url(../scss/sprite.png);
  background-position: -90px -64px;
  width: 25px;
  height: 25px;
  margin-bottom: 5px; }

.comment-text {
  width: 310px;
  font-family: GothaPro;
  font-size: 17px; }

.commentator-portrait {
  background-image: url(../scss/sprite.png);
  background-position: -90px 0px;
  width: 59px;
  height: 64px;
  border-radius: 50%;
  background-repeat: no-repeat;
  margin-top: 25px; }

.comments-footer {
  display: block;
  position: absolute;
  width: 220px;
  margin-left: -40px;
  top: 82%;
  font-family: GothaPro;
  font-size: 17px; }

.commentator-name {
  font-family: GothaPro;
  margin-top: 20px;
  font-size: 17px; }

.position-ul li {
  position: relative;
  display: inline;
  float: left;
  margin-right: 10px; }

.position-ul:last-child {
  list-style: square outside; }

.comments-content-block:hover .qoutes-image {
  background-image: url(../scss/sprite.png);
  background-position: -164px -105px;
  width: 20px;
  height: 15px; }

.comments-content-block:hover .commentator-name {
  color: mediumvioletred; }

/*.comments-video{
  @include sprite($comment-video);
}*/
/*.show-more-button{
  @include sprite($load-more);
}*/
.load-more-icon {
  width: 23px;
  height: 23px;
  margin-right: 20px;
  position: inherit;
  margin-top: 10px;
  float: left;
  fill: mediumvioletred; }

.show-more-button {
  width: 180px;
  height: 40px;
  border: none;
  background-color: transparent;
  margin-left: 43%; }

.show-more-button div {
  display: inline-block;
  height: 40px; }

.load-more-txt {
  line-height: 40px;
  text-align: center;
  font-family: GothaProBlack;
  opacity: 0.8;
  font-size: 13px; }

@media (max-width: 1111px) {
  .comments-content-block {
    margin-left: 33px; } }

@media (max-width: 960px) {
  .comments-block {
    height: 975px; }
  .comments-content-block {
    width: 38%;
    margin-left: 33%;
    margin-top: 20px;
    border-bottom: solid mediumvioletred 1px; }
  .show-more-button {
    display: none; } }

.forms {
  padding-bottom: 100px; }

.request-text {
  display: block;
  width: 600px;
  height: 70px;
  position: inherit;
  margin: 0 auto 0 auto; }
  .request-text h2 {
    position: inherit;
    font-size: 27px;
    font-family: GothaProBold;
    text-align: center;
    text-transform: uppercase; }

.request-rectangle {
  display: block;
  position: inherit;
  background-image: url(../scss/sprite.png);
  background-position: -124px -129px;
  width: 40px;
  height: 2px;
  margin-top: 11px;
  margin-left: 47%; }

.request-form {
  width: 100%;
  height: 500px; }

.left-form {
  float: left;
  display: block;
  height: 400px;
  width: 375px;
  margin-left: 262px; }
  .left-form .form-inputs {
    margin-left: 70px;
    margin-top: 15px; }
  .left-form input {
    width: 300px;
    border: none;
    border-bottom: 0.5px solid gray;
    font-family: GothaPro; }
  .left-form .radio-form {
    float: left;
    margin-top: 50px;
    margin-left: 70px;
    font-size: 14px;
    width: 301px;
    position: absolute;
    border: 0.5px solid grey; }
  .left-form .radio-inputs {
    font-size: 13px;
    margin-bottom: 30px; }
    .left-form .radio-inputs input {
      width: 10px;
      margin-left: 10px;
      margin-top: 15px; }
    .left-form .radio-inputs input:checked {
      background-color: #0000fe; }
    .left-form .radio-inputs label:hover {
      color: #a70c5d;
      cursor: pointer;
      font-weight: bold; }

.right-form {
  float: left;
  display: block;
  height: 400px;
  width: 300px;
  margin-left: 60px; }
  .right-form textarea {
    height: 250px;
    width: 380px;
    resize: none; }

.request-form-button {
  position: inherit;
  vertical-align: middle;
  width: 180px;
  height: 52px;
  margin-left: 45%;
  border: #dfdfe2 solid 2px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  background-color: #a70c5d;
  margin-top: 120px;
  color: white;
  cursor: pointer;
  font-family: GothaProBlack; }

.request-form-button:hover {
  background-color: #750075; }

.radio-header {
  text-transform: uppercase;
  /*margin-left: 70px;*/
  position: relative;
  height: 40px;
  background-color: #f5f5f5;
  opacity: 0.8;
  width: 300px;
  z-index: 1;
  border-bottom: 0.5px solid grey;
  margin-bottom: 20px; }
  .radio-header span {
    float: left;
    display: inline-block;
    height: 22px;
    text-align: center;
    padding-left: 20px;
    margin-top: 15px; }

.radio-header-icon {
  display: block;
  width: 25px;
  height: 25px;
  position: inherit;
  background-image: url(../scss/sprite.png);
  background-position: -149px -67px;
  width: 22px;
  height: 22px;
  margin-left: 280px;
  z-index: 2;
  right: 15px;
  top: 9px; }

@media (max-width: 1100px) {
  .right-form textarea {
    width: 250px; } }

@media (max-width: 1010px) {
  .request-form {
    width: 100%;
    height: 1000px; }
  .left-form {
    height: 380px;
    width: 55%;
    margin-left: 28%; }
    .left-form input {
      width: 250px; }
  .right-form {
    float: left;
    display: block;
    height: 380px;
    width: 55%;
    margin-left: 26%;
    margin-top: 120px; }
    .right-form textarea {
      height: 200px;
      width: 300px;
      margin-left: 16%; }
    .right-form p {
      margin-left: 22%; }
  .request-form-button {
    margin-top: 0;
    margin-left: 42%; } }

@media (max-width: 650px) {
  .right-form textarea {
    margin-left: 20%; } }

@media (max-width: 550px) {
  .right-form textarea {
    margin-left: 25%; } }

.pravo-agency {
  margin-left: 49%;
  text-transform: uppercase;
  font-family: GothaProBlack;
  font-size: 11px; }

.adress-div {
  margin-left: 38%;
  display: block;
  width: 350px;
  height: 100px;
  text-align: center; }

.adress {
  list-style: none;
  font-family: GothaPro;
  font-size: 18px; }
  .adress a {
    color: #a70c5d; }
  .adress li {
    margin-bottom: 10px; }

.social-buttons {
  display: block;
  width: 400px;
  height: 100px;
  border: solid 1px black; }

.facebook, .twitter, .linkedin {
  border: 1px solid #2d78f5;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  float: left;
  text-align: center;
  opacity: 0.6;
  margin-right: 15px; }

.facebook:hover, .twitter:hover, .linkedin:hover {
  border: 3px solid #a70c5d; }

.facebook {
  margin-left: 45%;
  position: relative;
  margin-bottom: 50px; }
  .facebook .facebook-icon {
    position: absolute;
    background-image: url(../scss/sprite.png);
    background-position: -12px -132px;
    width: 5px;
    height: 12px;
    left: 23px;
    top: 20px; }
  .facebook .facebook-icon:hover {
    background-image: url(../scss/sprite.png);
    background-position: -196px -105px;
    width: 5px;
    height: 12px; }

.facebook:hover .facebook-icon {
  background-image: url(../scss/sprite.png);
  background-position: -196px -105px;
  width: 5px;
  height: 12px; }

.twitter {
  position: relative; }
  .twitter .twitter-icon {
    position: absolute;
    background-image: url(../scss/sprite.png);
    background-position: -184px -90px;
    width: 15px;
    height: 11px;
    left: 19px;
    top: 20px; }
  .twitter .twitter-icon:hover {
    background-image: url(../scss/sprite.png);
    background-position: -133px -64px;
    width: 15px;
    height: 11px; }

.twitter:hover .twitter-icon {
  background-image: url(../scss/sprite.png);
  background-position: -133px -64px;
  width: 15px;
  height: 11px; }

.linkedin {
  position: relative; }
  .linkedin .linkedin-icon {
    position: absolute;
    background-image: url(../scss/sprite.png);
    background-position: 0px -132px;
    width: 12px;
    height: 13px;
    left: 20px;
    top: 18px; }
  .linkedin .linkedin-icon:hover {
    background-image: url(../scss/sprite.png);
    background-position: -184px -105px;
    width: 12px;
    height: 13px; }

.linkedin:hover .linkedin-icon {
  background-image: url(../scss/sprite.png);
  background-position: -184px -105px;
  width: 12px;
  height: 13px; }

@media (max-width: 1050px) {
  .adress-div {
    margin-left: 35%; } }

@media (max-width: 1010px) {
  footer {
    margin-top: -150px; }
  .pravo-agency {
    margin-left: 46%; }
  .adress-div {
    margin-left: 32%; }
  .facebook {
    margin-left: 42%; } }

@media (max-width: 880px) {
  .adress-div {
    margin-left: 30%; } }

@media (max-width: 750px) {
  .adress-div {
    margin-left: 28%; } }

@media (max-width: 630px) {
  .adress-div {
    margin-left: 24%; } }

@media (max-width: 530px) {
  .adress-div {
    margin-left: 20%; } }

@font-face {
  font-family: GothaProMed;
  src: url(../fonts/GothaProMed.otf); }

@font-face {
  font-family: GothaProBold;
  src: url(../fonts/GothaProBol.otf); }

@font-face {
  font-family: GothaPro;
  src: url(../fonts/GothaProReg.otf); }

@font-face {
  font-family: GothaProBlack;
  src: url(../fonts/GothaProBla.otf); }
